.Box {
    width: 100%;
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #dedede;

    line-height: 1.5;
}

.Box:last-child {
    margin-bottom: 0;
}

.Box__title {
    font-size: 17px;
    font-weight: 500;
    color: #888888;
    margin-bottom: 15px;
}

.Box__title--word {
    color: #08b586;
}

.Box__sub {
    margin-bottom: 30px;
}

.Box__sub:last-child {
    margin-bottom: 0;
}

.Box__sub--title {
    font-size: 15px;
    color: #08b586;
    font-weight: 600;
    margin-bottom: 5px;
}

.Box__content {
    font-size: 16px;
    color: #444444;
    padding-left: 10px;
}

.Box__content--synonym {
    background-color: #fcfcfc;
    padding: 3px 13px;
    border: 1px solid #dedede;
    border-radius: 15px;
    margin-right: 10px;
    
    font-size: 14px;
    color: #888888;
}

.Box__content--synonym:hover {
    border: 1px solid #9ffbe2;
    background-color: #ffffff;
    color: #666666;
}

.Example {
    margin-bottom: 10px;
}

.Example:last-child:last-child {
    margin-bottom: 0;
}

.Example__word {
    font-size: 15px;
    font-weight: 600;
    color: #666666;
}

.Example__translation {
    font-size: 14px;
    color: #666666;
}