.Result {
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.Result__left{
    width: 49.5%;
    margin-right: .5%;
}

.Result__right{
    width: 49.5%;
    margin-left: .5%;
}